/* reset margin and padding inside #issues-views */
#sidebar #issues-views * {
  margin: 0;
  padding: 0;
}

#issues-views {
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

#issues-views li {
  background-color: #ccc;
  border: 1px solid #bbb;
  margin: 0;
}

#issues-views li:first-child {
  border-radius: 4px 0px 0px 4px;
}

#issues-views li:last-child {
  border-radius: 0px 4px 4px 0px;
}

#issues-views li a {
  height: 100%;
  width: 100%;
  padding: 5px !important;
  display: block;
  text-decoration: none;
  color: #555;
  font-size: .9em;
  font-weight: 600;
}

#issues-views li:nth-child(2) {
  border-width: 1px 0px 1px 0px;
}
.controller-issues #btn-issues-view {
  background: #555;
}

.controller-issues #btn-issues-view a {
  color: #fff;
}

.controller-calendars #btn-calendar-view {
  background: #555;
}

.controller-calendars #btn-calendar-view a {
  color: #fff;
}

.controller-gantts #btn-gantt-view {
  background: #555;
}

.controller-gantts #btn-gantt-view a {
  color: #fff;
}
